<ul class="navigation round">
<li><%= link_to "Home", "/", :confirm => "question?" %></li>
<li><%= link_to "Help", 'help', :confirm => "question?" %></li>
<li><%= link_to "Contact", 'contact', :confirm => "question?" %></li>
<li><%= link_to "About", 'about', :confirm => "question?" %></li>
</ul>	